BODY {
	SCROLLBAR-FACE-COLOR: #eeeeee;
	MARGIN: 0px;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #b4b4b4;
	WORD-BREAK: break-all;
	SCROLLBAR-3DLIGHT-COLOR: #b4b4b4;
	SCROLLBAR-ARROW-COLOR: #333333;
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
	SCROLLBAR-BASE-COLOR: #eeeeee;

	.LH { line-height: 150% ; 	background-color: #e3e3e3;
};
	.LHN { line-height: 100%; };
	UL { margin: 0 0 0 20;};
	UL UL{ margin: 0 0 0 20;};
	UL UL UL{ margin: 0 0 0 20;};
	LI { margin: 0 0 0 0;};
	OL { margin: 0 0 0 25;};
	
	UL LI { margin: 0 0 0 0; font-weight:normal; list-style-image: url(../img/icon01.html); };
	UL UL LI { margin: 0 0 0 0; font-weight:normal; list-style-image: url(../img/icon03.html); };
	UL LI UL LI { margin: 0 0 0 0; font-weight:normal; list-style-image: url(../img/icon02.html); };
	
	OL LI { margin: 0 0 0 0;};
	
	
}
.unnamed1 {
	font-size: 9px;
}
.en {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}
.main {
	font-size: 9pt;
	line-height: 17pt;
	color: #434343;
	text-decoration: none;
}
.main1 {
	font-size: 9pt;
	line-height: 17pt;
	color: #ffffff;
	text-decoration: none;
}
.newbody {
	font-family: "ו";
	font-size: 14px;
	line-height: 130%;
	color: #666666;
	text-decoration: none;
}
.red {
	font-size: 14px;
	line-height: 150%;
	color: #97292A;
	text-decoration: none;
}
body,td,th {
	font-size: 9pt;
}
.grey {font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	line-height: 19px;
	color: #666666;
	text-decoration: none;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #FF6600;
}
a:active {
	text-decoration: none;
}
